.header {

  .container_nav {
    flex-direction: row;

    .logo {
      margin: 0.5em 0;

      a {
        color: $main_color;
        font-size: 1.9em;
        font-weight: 600;

        &:hover {
          text-decoration: none;
        }
      }
    }
    .nav-toggler {
      display: none;
      margin: 0.5em 0;

      i {
        color: $main_color;
        font-size: 1.9em;
      }
    }

    .header_nav {

      .nav_list {
        flex-direction: row;

        li a {
          margin: 0 12px;
          color: #fff;
          font-size: 1em;
          text-decoration: none;
          padding: 10px 0;
          text-transform: uppercase;
          position: relative;

          &::before {
            position: absolute;
            top: 0;
            overflow: hidden;
            padding: 10px 0;
            max-width: 0;
            border-bottom: 3px solid $main_color;
            color: $main_color;
            content: attr(data-hover);
            transition: max-width 0.5s;
          }
          &:hover::before {
            max-width: 100%;
          }

          &.active {
            color: $main_color;
          }
        }
      }
    }
  }
}
.header_collapse {
  background: #000000;
  box-shadow: 0 0 10px #222;
  border-width: 0;
}
@media (max-width: 768px) {
  .header .container_nav {
    flex-direction: column;

    .main {
      width: 100%;
      justify-content: space-between;

      .nav-toggler {
        display: block;
      }
    }

    .header_nav {
      display: none;

      &.navbar-show {
        display: block;

        .nav_list {
          flex-direction: column;

          li.nav-item {
            text-align: center;
          }
        }
      }
    }
  }
}